body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #111217;
}

head {
  height: 0
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 70%;
}

.right {
  width: 25%;
}

.header {
  color: #CCCCDC;
  text-align: center;
}
