body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
}

head {
  height: 0
}

#terminal {
  margin: 20px auto;

}

/* .xterm-cursor-layer {
  border: 5px 0px 0px 5px solid black;
}

.xterm-viewport {
  border: 0px 5px 0px 0px solid black;
}*/

.xterm-helpers {
  border: 5px solid black;
}

/* .xterm-viewport {
  height: 418px;
  padding: 20px;
  box-shadow: 10px 5px 5px grey;
  border: 5px solid black;
  border-radius: 5px;
} */